<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rishabhjain.jvocsportscorner">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Dashboard.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Events.AddEvent"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Events.AddSubEvent"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewParticipants.SEParticipants"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Events.AddParticipants"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewParticipants.ViewPSE"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewParticipants.ViewPSEP"
            android:screenOrientation="portrait" />
        <activity android:name=".ViewParticipants.ViewPEAllP" />
        <activity
            android:name=".Matches.ScheduleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matches.ScheduleRoundActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Matches.ResultWinners"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MediaUploadActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Media.DetailImageAc"
            android:screenOrientation="portrait" />
        <activity android:name=".Events.SubEvents"></activity>
    </application>

</manifest>